# The directory Mix will write compiled artifacts to.
_build

# Tests
test/

# The directory Mix downloads your dependencies sources to.
deps

# If you run "mix test --cover", coverage assets end up here.
cover

# Benchmarks
bench

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Ignore any node modules, as they should be fetched within container
node_modules

# Ignore Phoenix uploads in dev env
uploads/*

# Ignore git artifacts
.git
.gitignore
.gitmodules

# Ignore Docker artifacts
Dockerfile
.dockerignore

# Ignore docs
README.md
LICENSE.md
*.apib
docs

# Ignore other CI configuration and scripts
coveralls.json
.env
.travis.yml
bin/ci
bin/build.sh
bin/install-git-hooks.sh
bin/hooks/pre-commit.sh
bin/start.sh
elixir_buildpack.config
Procfile
app.json
